.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 7.5rem;
    padding: 2rem 1rem;
    /* background-color: #f8f9fa; */
    z-index: 1050;
    transition: width 0.3s ease-in-out;
    background-color: #35384b;
  }

  /* when the user hovers on the sidebar, expand it */
  .sidebar:hover {
    width: 23.5rem;
  }

  /* make sure the contents of the navlink don't wrap when navbar collapses */
  .sidebar .nav-link {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }

  /* fix the width of the icons */
  .sidebar .nav-link i {
    width: 1rem;
  }

  /* hide the navlink labels by default */
  .sidebar .nav-link span {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }

  /* when the sidebar is hovered, reveal the labels */
  .sidebar:hover .nav-link span {
    visibility: visible;
    opacity: 1;
  }

  /* container for the sidebar header. make sure the contents don't wrap when
   * the sidebar is collapsed.
   */
  .sidebar-header {
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
  }

  @font-face {
    font-family: "garamond";
    }

  .nav-link.active{
    background-color: #0084d6 !important;
    color: #fff !important;
    box-shadow: 0 2px 4px 0 rgba(32, 121, 255, 0.308) !important;
  }

  .nav-link.active:hover{
    color: #fff !important;
  }

  .nav-link:hover {
    color:  #0084d6 !important;
  }

  .image_title {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
  }

  .icon_title {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
  }

  .home_bg {
    background-color: #35384b;
    border-radius: 2rem;
  }

  .about_bg {
    background-color: #35384b;
    border-radius: 2rem;
  }

  .table_bg {
    background-color: #35384b;
    border-radius: 2rem;
    padding: 10px;
    height: 700px;
  }

  .home_row {
    margin-left: 20rem;
    margin-top: 10rem;
  }

  .about_row {
    margin-left: 20rem;
    margin-top: 10rem;
  }
  .table_row {
    margin-left: 20rem;
    margin-top: 7rem;
    margin-bottom: 10rem;
    margin-right: 10rem;
  }

  .first_text_column {
    display: flex;
    flex-direction: column;
  }

  .gif_column {
    display: flex;
    flex-direction: column;
  }
  .gif_image {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    height: 400px;
    width: 200%;
  }

  .gif_row {
    display: flex;
    flex-direction: row;
  }

  /**************css style for dashboard page*****************/
  .title_image {
   display: flex;
   flex-direction: row;
   margin-top: 7px;
}

.title {
   display: flex;
   flex-direction: row;
   white-space: pre;
}

.logo_title {
   display: flex;
   flex-direction: row;
   gap: 5px;
   /*margin-left: 10px;*/
   margin-top: 16px;
   /*flex: 6;*/
}

.drop_down_list_title {
   display: flex;
   flex-direction: row;
   margin-top: 29px;
}

.drop_down_list {
   display: flex;
   flex-direction: row;
   width: 200px;
   margin-top: 10px;
}

/* Drop down list - background color, text color and border color */
.Select-control, .Select-menu-outer, .Select-multi-value-wrapper, .select-up, .is-open .Select-control {
  background-color: #335476;
  color: white;
}

.Select-control{
  border: 2px solid green;
}

.has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label {
  color: white;
}

.title_drop_down_list {
   display: flex;
   flex-direction: row;
   gap: 3px;
}

.title_and_drop_down_list {
   display: flex;
   flex-wrap: wrap;
   /*position: fixed;*/
   justify-content: center;
   gap: 30px;
   top: 0;
   /*background-color: #335476;*/
   width: 100%;
}

.card_size {
   background-color: #335476;
   width: 200px;
   height: 160px;
}

.flex_container {
   display: flex;
   /*flex-wrap: wrap;*/
   justify-content: center;
   margin-top: 20px;
   margin-left: 20rem;
   gap: 5px;
}

.chart {
   display: flex;
   flex-direction: row;
   position: absolute;
   margin-top: 65px;
   margin-left: 40px;
}

.text_graph_column {
   display: flex;
   flex-direction: column;
   position: relative;
}

.card_title {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 5px;
}

.monthly_value {
   display: flex;
   flex-direction: row;
}

.value_indicator {
   display: flex;
   flex-direction: row;
   margin-top: 4px;
}

.value_and_indicator {
   display: flex;
   flex-direction: row;
   gap: 3px;
   justify-content: center;
   margin-top: -10px;
}

.indicator_column {
   display: flex;
   flex-direction: column;
}

.indicator_column1 {
   display: flex;
   flex-direction: column;
}

.monthly_difference_value {
   display: flex;
   flex-direction: row;
}

.monthly_pct_change {
   display: flex;
   flex-direction: row;
}

.difference_value_row {
   display: flex;
   flex-direction: row;
   gap: 20px;
   justify-content: center;
}

.text_previous_month {
   display: flex;
   flex-direction: row;
   margin-left: 65px;
   margin-top: -12px;
}

.difference_value_column {
   display: flex;
   flex-direction: column;
   margin-top: 35px;
}

.donut_chart_size {
   background-color: #335476;
   width: 200px;
   height: 198px;
}

.donut_chart_text {
   display: flex;
   flex-direction: row;
   position: absolute;
   margin-top: 90px;
}

.chart_container {
   display: flex;
   justify-content: center;
   margin-top: 5px;
   gap: 10px;
}

.donut_chart_column {
  display: flex;
  flex-direction: column;
}

.funnel_chart_size {
  background-color: #335476;
  width: 250px;
  height: 300px;
  margin-top: 5px;
}

.create_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  margin-left: 20rem;
}

.bar_chart_size {
  background-color: #335476;
  width: 250px;
  height: 300px;
  margin-top: 5px;
}

.funnel_bar_chart_column {
  display: flex;
  flex-direction: column;
}

.stack_bar_chart_size {
  background-color: #335476;
  width: 765px;
  height: 300px;
  margin-top: 5px;
}

.percent_bar_chart_size {
  background-color: #335476;
  width: 385px;
  height: 300px;
  margin-top: 5px;
}

.bar_chart_column {
  display: flex;
  flex-direction: column;
}

.background_size1 {
  background-color: #335476;
  width: 375px;
  height: 147.5px;
}

.chart_text1 {
  display: flex;
  flex-direction: row;
}

.average_sales_bar_chart1 {
  display: flex;
  flex-direction: row;
  width: 350px;
  height: 270px;
  margin-top: -95px;
  margin-left: -70px;
}

.average_sales_bar_chart_row1 {
  display: flex;
  flex-direction: row;
  position: absolute;
}

.average_sales_bar_chart_column1 {
  display: flex;
  flex-direction: column;
  position: relative;
}

.background_size2 {
  background-color: #335476;
  width: 375px;
  height: 147.5px;
  margin-top: 5px;
  position: absolute;
}

.chart_text2 {
  display: flex;
  flex-direction: row;
}

.average_sales_bar_chart2 {
  display: flex;
  flex-direction: row;
  width: 350px;
  height: 270px;
  margin-top: -90px;
  margin-left: -35px;
}

.average_sales_bar_chart_row2 {
  display: flex;
  flex-direction: row;
  position: absolute;
}

.average_sales_bar_chart_column2 {
  display: flex;
  flex-direction: column;
}

.average_sales_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.average_sales_text {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 10px;
  white-space: pre;
}

.average_sales_value {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.average_sales_column {
  display: flex;
  flex-direction: column;
}

.average_sales_chart_column {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
